<nav>
    <div class="nav-wrapper">
      <a href="/assets/img/logo horoscopes.png" class="brand-logo">Welcome to Secret Diary</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
            <li><a href="/">Home</a></li>
        <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
        <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
        <% } %> 
      </ul>
    </div>
  </nav>