<p><%= data.quote  %></p>
<p><%= data.author %></p>

<form method="POST" action="/quote">
    <input type="hidden" name="quote" value="<%= data.q%>" >
    <input type="hidden" name="author" value="<% data.a %> ">
    <input type="submit" value="Add to Diary" >
</form>